# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django related
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Ignore database
db.sqlite3

# Ignore virtual environment
venv/

# PyCharm files
.idea/
*.iml
